.h1{
    text-align: center;
}

.card{
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}